@mixin font-metrics {
  font-display: swap;
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
  size-adjust: 105%;
}

*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'Baloo';
    src: url("/assets/fonts/Baloo_2/dehinted-subset-Baloo2-Bold.woff2") format("woff2");
    @include font-metrics();
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/dehinted-subset-MontserratAlternates-Regular.woff2") format("woff2");
  font-weight: normal;
  @include font-metrics();
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/dehinted-subset-MontserratAlternates-Medium.woff2") format("woff2");
  font-weight: 500;
  @include font-metrics();
}

body{
  font-family: "Montserrat Alternates", 
               -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               system-ui, 
               sans-serif;
}

h1,h2{
    font-family: 'Baloo', Arial, Helvetica, sans-serif;
}

.hero{
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
  .banner {
    position: absolute;
    inset: 0;
    margin: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .content{
    position: relative;
    z-index: 10;
    padding: 0 1.5rem;
    
    h1{
      opacity: 0;
      transform: translateY(50px);
      color: #fff;
      font-size: 4rem;
      max-width: 43rem;
      margin-bottom: 0.5rem;
      padding-bottom: 1rem;
      .blue_wave{
        position: relative;
        overflow: hidden;
        width: max-content;
        &::before{
          content: "aaaaaaaaaaaaa";
          position: absolute;
          left: 0;
          bottom: -28px;
          font-size: 2em;
          color: transparent;
          text-decoration: wavy;
          text-decoration-color: #4DA2D8;
          text-decoration-line: underline;
          animation: animateWave 2s linear infinite;
        }
      }

      svg{
        position: absolute;
        max-width: 100%;
        height: auto;
      }
      span{
        position: relative;
        svg{
          position: absolute;
          top: 80px;
          left: 3rem;
        }
      }
      .stroke-animation{
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        animation: drawStroke 3s ease-in-out infinite;
      }
    }
    
    p{
      color: #fff;
      font-size: 1.25rem;
      max-width: 43rem;
      font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
      opacity: 0;
      transform: translateY(50px);
    }
    a{
      margin-top: 40px;
      padding: 8px 8px 8px 20px;
      font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      background-color: #E23C88;
      border-radius: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      gap: 24px;
      font-size: 16px;
      position: relative;
      overflow: hidden;
      opacity: 0;
      transform: translateY(50px);
      span{
        position: relative;
        z-index: 1;
      }
      .arrow{
        border-radius: 100%;
        width: 44px;
        height: 44px;
        background-color: #4DA2D8;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      &::after{
        content: "";
        background-color: #4DA2D8;
        width: 60px;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        border-radius: 100000px;
        transition: all 0.3s linear;
      }
      img{
        transition: all 0.3s linear;
      }
      &:hover{
        img{
          transform: rotate(-45deg);
        }
        &::after{
          height: 100%;
          width: 100%;
          bottom: 0;
          background-color: #4DA2D8;
        }
      }
    }
  }
}





@media(max-width: 784px){
  .hero{
    .banner{
      margin: 1rem;
    }
    .content{
      h1{
        font-size: 3rem;
        span{
          svg{
            width: 70%;
            top: 60px;
          }
        }
        .blue_wave{
          &::before{
            bottom: -21px;
          }
        }
      }
      p{
        font-size: 1rem;
      }
      a{
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


@media(max-width: 480px){
  .hero{
    .banner{
      margin: 0.5rem;
    }
    .content{
      padding: 0;
      a{
        span{
          font-size: 0.875rem;
        }
        .arrow{
          width: 36px;
          height: 36px;
          img{
            width: 24px;
          }
        }
      }
      h1{
        font-size: 2rem;
        line-height: 36px;
        span{
          svg{
            width: 60%;
            top: 35px;
          }
        }
        .blue_wave{
          height: 55px;
          &::before{
            bottom: 22px;
          }
        }
      }
      p{
        font-size: 0.875rem;
      }
    }
  }
}
@media(max-width: 320px){
  .hero .content h1 span svg{
    display: none;
  }
  .hero .content a{
    font-size: 12px;
  }
  .hero .content a .arrow{
    height: 24px;
    width: 24px;
    gap: 12px;
  }
}

@keyframes drawStroke{
  0%{
    stroke-dashoffset: 400;
  }50%{
    stroke-dashoffset: 0;
  }100%{
    stroke-dashoffset: -400;
  }
}

@keyframes animateWave {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-55px);
  }
}